<h1>Cuisine Form</h1>

<form action="/cuisines" method="post">
    <label for="new-name">Name</label>
    <input id="new-name" name="new-name" type="text">

    <button type="submit">Add Cuisine</button>
</form>
