<h1>Restaurants & Cuisines</h1>

<h3><a href='/cuisines'>View categories</a></h3>
<h3><a href='/cuisines/new'>Add a new category</a></h3>
<h3><a href='/restaurants'>View restaurants</a></h3>
<h3><a href='/restaurants/new'>Add a new restaurant</a></h3>
